

<div class="row">
 <div class="col-sm-4">
                 <form method="get" action="/quizes">
                  <p>Buscador de Preguntas:</p>
                  <input type="text" name="search" value="Texto a buscar">
                  <input type="submit" value="Buscar">

                  </form>
                  <h3>Lista de Preguntas</h3>
               
<table class="table table-striped table-hover">
  <% var i; for (i=0; i < quizes.length; i++) { %>        
     <tr>
         <td>
             <a href="quizes/<%= quizes[i].id %>" class="btn btn-link">
                 <%= quizes[i].pregunta %>
             </a>
         </td>
         <td>
              <form method="get" action="/quizes/<%= quizes[i].id %>/edit">
             
                 <button type="submit" class="btn btn-primary">editar</button>
              </form>
        </td>
         <td>
            <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
              <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');" class="btn btn-danger">
                borrar
              </button>
            </form>
        </td>

        </tr> 
  <% } %>
  </table>

        
  <a href="/quizes/new"><button type="button" class="btn btn-info">Crear Pregunta</button></a>

     
                 
          

         
    



